Documentation ML Ready Sys.md
clean dataset/Cleaned_Students_Performance.csv
biased dataset/bank-additional.csv
biased dataset/bank-full.csv
biased dataset/bank.csv
Templates.ipynb
bank-full.csv
messy dataset.csv